language: generic 
sudo: required
services:
    - docker

before_install:
    - docker build -t xaviruaa/docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true xaviruaa/docker-react npm run test